@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the market</h1>
    <h2>Magic the Gathering Trade in Novosibirsk</h2>
</div>
